<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a2602043-877d-496a-b6af-92c1bad53a00" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="c9c70b67-c82c-401f-8c62-bd21acf053e0">contentBase</Composition>
      <Composition Key="2a7aea95-ff98-4b26-b2f0-7adfdd291cd4">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="68240db9-6b33-4781-aec9-850882938719">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="26a85b4c-0fe5-40d8-be8b-b3ce0a6ec064">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>182e3532-5c64-4f49-bbb6-265db78e9228</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>